@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Space+Mono);


body {
	background: url("../images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1 {
	font-size: 8em;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

h2 {
	font-size: 25px;
	font-family: 'Space Mono', monospace;
}

.coder, .opponent, .player, .loser {
	border-radius: 5px;
	color: white;
	padding: 10px 0;
	text-align: center;
	font-family: 'Space Mono', monospace;
}

.coder, .loser {
	background-color: rgba(0, 0, 0, 0.7);
}

.opponent {
	background-color: rgba(255, 235, 59, 0.7);
}
.player {
	background-color: rgba(255, 235, 59, 0.7);
}
#player-header, #opponent-header {
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}

.points, .coderName {
	clear: both;
	display: block;
	margin: 5px;
	color: white;
	font-size: 16px;
}
.row {
	margin: 15px;
}

#code h2 {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	color: white;
	font-size: xx-large;
	padding: 25px;
	text-align: center;
}

#instruct, #jrDev {
	color: white;
	font-size: 48px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin: 20px auto;
	text-align: center;
	font-family: 'Space Mono', monospace;
}
